#u21235{box-shadow:0px 1px 7px rgba(0,0,0,0.28);background-color:#F4F4F4;}
#u21225{box-shadow:0px 1px 7px rgba(0,0,0,0.28);background-color:#F4F4F4;}
#u21224{box-shadow:0px 1px 7px rgba(0,0,0,0.28);background-color:#F4F4F4;}