.version.modulo_14 {
    color: #0000F5;
    background-color: #A75537;
}

#page {
    z-index: 1;
    width: 1000px;
    min-height: 2264px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

#pu21235 {
    z-index: 92;
    width: 0.01px;
    height: 0px;
    padding-bottom: 158px;
    margin-right: -10000px;
}

#u21235 {
    z-index: 92;
    height: 93px;
    position: fixed;
    top: 65px;
}

#u21235-bw {
    z-index: 92;
}

#u29739 {
    z-index: 93;
    width: 880px;
    padding-bottom: 61px;
    position: fixed;
    top: 85px;
    left: 50%;
    margin-left: -440px;
}

#u21440-4 {
    z-index: 94;
    width: 131px;
    min-height: 61px;
    position: fixed;
    top: 85px;
    left: 45%;
    margin-left: -440px;
}

#u21440-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 61px;
    width: 131px;
    margin: 0px 0px 0px -440px;
}

#u21440-4:active {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 61px;
    width: 131px;
    margin: 0px 0px 0px -440px;
}

#u21440-4.MuseLinkActive {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 61px;
    width: 131px;
    margin: 0px 0px 0px -440px;
}

#u21437 {
    z-index: 114;
    width: 1px;
    height: 60px;
    position: fixed;
    top: 85px;
    left: 45%;
    margin-left: -279px;
}

#u21439-4 {
    z-index: 98;
    width: 119px;
    min-height: 52px;
    padding-top: 9px;
    position: fixed;
    top: 85px;
    left: 45%;
    margin-left: -243px;
}

#u21439-4:hover {
    padding-top: 9px;
    padding-bottom: 0px;
    min-height: 52px;
    width: 119px;
    margin: 0px 0px 0px -243px;
}

#u21439-4:active {
    padding-top: 9px;
    padding-bottom: 0px;
    min-height: 52px;
    width: 119px;
    margin: 0px 0px 0px -243px;
}

#u21439-4.MuseLinkActive {
    padding-top: 9px;
    padding-bottom: 0px;
    min-height: 52px;
    width: 119px;
    margin: 0px 0px 0px -243px;
}

#u21438 {
    z-index: 115;
    width: 1px;
    height: 60px;
    position: fixed;
    top: 85px;
    left: 45%;
    margin-left: -88px;
}

#u21436-4 {
    z-index: 102;
    width: 112px;
    min-height: 46px;
    padding-top: 15px;
    position: fixed;
    top: 85px;
    left: 45%;
    margin-left: -47px;
}

#u21436-4:hover {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 112px;
    margin: 0px 0px 0px -47px;
}

#u21436-4:active {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 112px;
    margin: 0px 0px 0px -47px;
}

#u21436-4.MuseLinkActive {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 112px;
    margin: 0px 0px 0px -47px;
}

#u29429 {
    z-index: 116;
    width: 1px;
    height: 60px;
    position: fixed;
    top: 85px;
    left: 45%;
    margin-left: 104px;
}

#u29426-4 {
    z-index: 106;
    width: 112px;
    min-height: 46px;
    padding-top: 15px;
    position: fixed;
    top: 85px;
    left:45%;
    margin-left: 144px;
}

#u29426-4:hover {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 112px;
    margin: 0px 0px 0px 144px;
}

#u29426-4:active {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 112px;
    margin: 0px 0px 0px 144px;
}

#u29426-4.MuseLinkActive {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 112px;
    margin: 0px 0px 0px 144px;
}

#u29736 {
    z-index: 117;
    width: 1px;
    height: 60px;
    position: fixed;
    top: 85px;
    left: 45%;
    margin-left: 288px;
}

#u29733-4 {
    z-index: 110;
    width: 112px;
    min-height: 46px;
    padding-top: 15px;
    position: fixed;
    top: 85px;
    left: 45%;
    margin-left: 328px;
}

#u29733-4:hover {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 112px;
    margin: 0px 0px 0px 328px;
}

#u29733-4:active {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 112px;
    margin: 0px 0px 0px 328px;
}

#u29733-4.MuseLinkActive {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 112px;
    margin: 0px 0px 0px 328px;
}

#u15545 {
    z-index: 118;
    height: 67px;
    position: fixed;
    top: 0px;
}

#u15545-bw {
    z-index: 118;
}

#u15563 {
    z-index: 119;
    width: 312px;
    padding-bottom: 39px;
    position: fixed;
    top: 16px;
    left: 40px;
}

#u15553-4 {
    z-index: 120;
    width: 150px;
    min-height: 36px;
    position: fixed;
    top: 18px;
    left: 40px;
}

#u15552 {
    z-index: 130;
    width: 2px;
    height: 30px;
    position: fixed;
    top: 20px;
    left: 198px;
}

#u15554-6 {
    z-index: 124;
    width: 138px;
    min-height: 36px;
    position: fixed;
    top: 16px;
    left: 214px;
}

#menuu28602 {
    z-index: 131;
    width: 530px;
    height: 34px;
    position: fixed;
    top: 11px;
    right: 20px;
}

#u28610 {
    width: 75px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
}

#u28611 {
    width: 75px;
    padding-bottom: 16px;
    position: relative;
}

#u28611:hover {
    width: 75px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28611:active {
    width: 75px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28611.MuseMenuActive {
    width: 75px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28613-4 {
    width: 64px;
    min-height: 18px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    left: 5px;
}

#u28611:hover #u28613-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 64px;
    margin: 0px -10000px 0px 0px;
}

#u28611:active #u28613-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 64px;
    margin: 0px -10000px 0px 0px;
}

#u28617 {
    width: 74px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    left: 97px;
}

#u28618 {
    width: 74px;
    padding-bottom: 16px;
    position: relative;
}

#u28618:hover {
    width: 74px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28618:active {
    width: 74px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28620-4 {
    width: 64px;
    min-height: 18px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    left: 5px;
}

#u28611.MuseMenuActive #u28613-4,
#u28618:hover #u28620-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 64px;
    margin: 0px -10000px 0px 0px;
}

#u28618:active #u28620-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 64px;
    margin: 0px -10000px 0px 0px;
}

#u28624 {
    width: 74px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    left: 193px;
}

#u28627 {
    width: 74px;
    padding-bottom: 16px;
    position: relative;
}

#u28618.MuseMenuActive,
#u28627:hover {
    width: 74px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28627:active {
    width: 74px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28630-4 {
    width: 64px;
    min-height: 18px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    left: 5px;
}

#u28618.MuseMenuActive #u28620-4,
#u28627:hover #u28630-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 64px;
    margin: 0px -10000px 0px 0px;
}

#u28627:active #u28630-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 64px;
    margin: 0px -10000px 0px 0px;
}

#u28689 {
    width: 74px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    left: 289px;
}

#u28692 {
    width: 74px;
    padding-bottom: 16px;
    position: relative;
}

#u28627.MuseMenuActive,
#u28692:hover {
    width: 74px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28692:active {
    width: 74px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28692.MuseMenuActive {
    width: 74px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28694-4 {
    width: 64px;
    min-height: 18px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    left: 5px;
}

#u28627.MuseMenuActive #u28630-4,
#u28692:hover #u28694-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 64px;
    margin: 0px -10000px 0px 0px;
}

#u28692:active #u28694-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 64px;
    margin: 0px -10000px 0px 0px;
}

#u28692.MuseMenuActive #u28694-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 64px;
    margin: 0px -10000px 0px 0px;
}

#u28710 {
    width: 58px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    left: 385px;
}

#u28711 {
    width: 58px;
    padding-bottom: 16px;
    position: relative;
}

#u28711:hover {
    width: 58px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28711:active {
    width: 58px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28711.MuseMenuActive {
    width: 58px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28714-4 {
    width: 48px;
    min-height: 18px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    left: 5px;
}

#u28711:hover #u28714-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 48px;
    margin: 0px -10000px 0px 0px;
}

#u28711:active #u28714-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 48px;
    margin: 0px -10000px 0px 0px;
}

#u28711.MuseMenuActive #u28714-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 48px;
    margin: 0px -10000px 0px 0px;
}

#u28603 {
    width: 65px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    left: 465px;
}

#u28604 {
    width: 65px;
    padding-bottom: 16px;
    position: relative;
}

#u28604:hover {
    width: 65px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28604:active {
    width: 65px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28604.MuseMenuActive {
    width: 65px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28605-4 {
    width: 55px;
    min-height: 18px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    left: 5px;
}

#u28604:hover #u28605-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 55px;
    margin: 0px -10000px 0px 0px;
}

#u28604:active #u28605-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 55px;
    margin: 0px -10000px 0px 0px;
}

#u28604.MuseMenuActive #u28605-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 55px;
    margin: 0px -10000px 0px 0px;
}

#u29065 {
    z-index: 168;
    width: 74px;
    height: 3px;
    position: fixed;
    top: 43px;
    right: 187px;
}

#pu26874-4 {
    z-index: 81;
    width: 0.01px;
    margin-right: -10000px;
    margin-top: 201px;
    margin-left: 20px;
}

#u26874-4 {
    z-index: 81;
    width: 293px;
    min-height: 28px;
    background-color: transparent;
    line-height: 1.5;
    text-align: left;
    color: #878787;
    letter-spacing: -1px;
    margin-left: 1px;
    position: relative;
}

#pu26831-4 {
    z-index: 9;
    width: 0.01px;
}

#u26831-4 {
    z-index: 9;
    width: 452px;
    min-height: 83px;
    background-color: transparent;
    color: #000000;
    text-align: center;
    line-height: 1.4;
    position: relative;
    margin-right: -10000px;
    margin-top: 1449px;
    left: 417px;
}

#u26834 {
    z-index: 13;
    width: 569px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 915px;
    left: 361px;
}

#u26836 {
    z-index: 15;
    width: 102px;
    height: 4px;
    border-style: solid;
    border-color: #4285F4;
    border-radius: 0px;
    -webkit-transform: matrix(0, 1, -1, 0, 55, -47);
    -ms-transform: matrix(0, 1, -1, 0, 55, -47);
    transform: matrix(0, 1, -1, 0, 55, -47);
    position: relative;
    margin-right: -10000px;
    margin-top: 1385px;
    left: 593px;
    border-width: 3px 0px 0px;
}

.resaltado-grueso {
    border-width: 3px;
    border-color: #4285F4;
    background-color: transparent;
    border-radius: 100px;
}

#u26837 {
    z-index: 16;
    width: 132px;
    height: 70px;
    border-style: solid;
    border-color: #4285F4;
    border-radius: 100px 0px 0px 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 1022px;
    left: 325px;
    border-width: 5px 0px 0px 5px;
}

#u26838 {
    z-index: 17;
    width: 51px;
    height: 24px;
    border-style: solid;
    border-width: 4px;
    border-color: #4285F4;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    margin-right: -10000px;
    margin-top: 1009px;
    left: 458px;
}

#u26839 {
    z-index: 18;
    width: 293px;
    height: 1px;
    background-color: #CCCCCC;
    position: relative;
    margin-right: -10000px;
    margin-top: 1375px;
    left: 1px;
}

#u26840-9 {
    z-index: 19;
    width: 293px;
    min-height: 467px;
    background-color: transparent;
    text-align: left;
    line-height: 1.5;
    font-weight: normal;
    position: relative;
    margin-right: -10000px;
    margin-top: 411px;
    left: 1px;
}

#u26841 {
    z-index: 28;
    width: 117px;
    height: 194px;
    border-style: solid;
    border-color: #4285F4;
    border-radius: 100px 0px 0px 0px;
    -webkit-transform: matrix(-1, 0, 0, -1, 122, 199);
    -ms-transform: matrix(-1, 0, 0, -1, 122, 199);
    transform: matrix(-1, 0, 0, -1, 122, 199);
    position: relative;
    margin-right: -10000px;
    margin-top: 1097px;
    left: 208px;
    border-width: 5px 0px 0px 5px;
}

#u26842 {
    z-index: 29;
    width: 139px;
    height: 4px;
    border-style: solid;
    border-color: #4285F4;
    border-radius: 0px;
    -webkit-transform: matrix(0, 1, -1, 0, 73, -66);
    -ms-transform: matrix(0, 1, -1, 0, 73, -66);
    transform: matrix(0, 1, -1, 0, 73, -66);
    position: relative;
    margin-right: -10000px;
    margin-top: 852px;
    left: 574px;
    border-width: 3px 0px 0px;
}

#u26843-9 {
    z-index: 30;
    width: 293px;
    min-height: 453px;
    background-color: transparent;
    text-align: left;
    line-height: 1.5;
    font-weight: normal;
    position: relative;
    margin-right: -10000px;
    margin-top: 1395px;
    left: 1px;
}

#u26840-7,
#u26843-7 {
    counter-reset: list0;
}

#u26840-7>li:before,
#u26843-7>li:before {
    counter-increment: list0;
    content: counter(list0, decimal) '.';
}

#u26840-7 .list1,
#u26843-7 .list1 {
    counter-reset: list1;
}

#u26840-7 .list1>li:before,
#u26843-7 .list1>li:before {
    counter-increment: list1;
    content: counter(list1, lower-alpha) '.';
}

#u26840-7 .list2,
#u26843-7 .list2 {
    counter-reset: list2;
}

#u26840-7 .list2>li:before,
#u26843-7 .list2>li:before {
    counter-increment: list2;
    content: counter(list2, lower-roman) '.';
}

#u26840-7 .list3,
#u26843-7 .list3 {
    counter-reset: list3;
}

#u26840-7 .list3>li:before,
#u26843-7 .list3>li:before {
    counter-increment: list3;
    content: counter(list3, decimal) '.';
}

#u26840-7 .list4,
#u26843-7 .list4 {
    counter-reset: list4;
}

#u26840-7 .list4>li:before,
#u26843-7 .list4>li:before {
    counter-increment: list4;
    content: counter(list4, lower-alpha) '.';
}

#u26840-7 .list5,
#u26843-7 .list5 {
    counter-reset: list5;
}

#u26840-7 .list5>li:before,
#u26843-7 .list5>li:before {
    counter-increment: list5;
    content: counter(list5, lower-roman) '.';
}

#u26840-7 .list6,
#u26843-7 .list6 {
    counter-reset: list6;
}

#u26840-7 .list6>li:before,
#u26843-7 .list6>li:before {
    counter-increment: list6;
    content: counter(list6, decimal) '.';
}

#u26840-7 .list7,
#u26843-7 .list7 {
    counter-reset: list7;
}

#u26840-7 .list7>li:before,
#u26843-7 .list7>li:before {
    counter-increment: list7;
    content: counter(list7, lower-alpha) '.';
}

#u26840-7 .list8,
#u26843-7 .list8 {
    counter-reset: list8;
}

#u26840-7 .list8>li:before,
#u26843-7 .list8>li:before {
    counter-increment: list8;
    content: counter(list8, lower-roman) '.';
}

#u26840-7>#u26840-2:before,
#u26840-7>#u26840-4:before,
#u26840-7>#u26840-6:before,
#u26843-7>#u26843-2:before,
#u26843-7>#u26843-4:before,
#u26843-7>#u26843-6:before {
    font-size: 18px;
    font-family: roboto, sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

#u26844-4 {
    z-index: 39;
    width: 340px;
    min-height: 51px;
    background-color: transparent;
    color: #000000;
    text-align: center;
    line-height: 1.4;
    position: relative;
    margin-right: -10000px;
    margin-top: 731px;
    left: 474px;
}

#u26831-2 span,
#u26844-2 span {
    line-height: 1.4;
}

#u26831,
#u26844 {
    font-size: 16px;
    font-family: roboto, sans-serif;
    font-weight: 400;
}

#u26846 {
    z-index: 43;
    width: 128px;
    height: 4px;
    border-style: solid;
    border-color: #4285F4;
    border-radius: 0px;
    -webkit-transform: matrix(0, 1, -1, 0, 68, -60);
    -ms-transform: matrix(0, 1, -1, 0, 68, -60);
    transform: matrix(0, 1, -1, 0, 68, -60);
    position: relative;
    margin-right: -10000px;
    margin-top: 658px;
    left: 580px;
    border-width: 3px 0px 0px;
}

#u26848 {
    z-index: 44;
    width: 151px;
    box-shadow: 0px 0px 8px rgba(153, 153, 153, 0.2), 0px 0px 8px rgba(153, 153, 153, 0.2)
        /* glow */
        ,
        8px 14px 15px rgba(153, 153, 153, 0.5)
        /* drop shadow*/
    ;
    border-width: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 1105px;
    left: 56px;
}

.Sombras-nivel-2 {
    box-shadow: 0px 0px 8px rgba(153, 153, 153, 0.2), 0px 0px 8px rgba(153, 153, 153, 0.2)
        /* glow */
        ,
        8px 14px 15px rgba(153, 153, 153, 0.5)
        /* drop shadow*/
    ;
    border-width: 1px;
    border-color: transparent;
    background-color: #FFFFFF;
}

#u26851-4 {
    z-index: 46;
    width: 307px;
    min-height: 208px;
    background-color: transparent;
    line-height: 1.5;
    text-align: left;
    color: #878787;
    letter-spacing: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 178px;
}

#u26852 {
    z-index: 50;
    width: 597px;
    box-shadow: 0px 0px 8px rgba(153, 153, 153, 0.2), 0px 0px 8px rgba(153, 153, 153, 0.2)
        /* glow */
        ,
        8px 14px 15px rgba(153, 153, 153, 0.5)
        /* drop shadow*/
    ;
    border-width: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 94px;
    left: 345px;
}

#u26854 {
    z-index: 52;
    width: 293px;
    height: 1px;
    background-color: #CCCCCC;
    position: relative;
    margin-right: -10000px;
    margin-top: 392px;
    left: 1px;
}

#u26857 {
    z-index: 53;
    width: 20px;
    height: 221px;
    border-style: solid;
    border-width: 3px;
    border-color: #4285F4;
    background-color: transparent;
    border-radius: 8px;
    position: relative;
    margin-right: -10000px;
    margin-top: 206px;
    left: 462px;
}

#u26858 {
    z-index: 54;
    width: 30px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 284px;
    left: 411px;
}

#u26860 {
    z-index: 55;
    width: 30px;
    box-shadow: 0px 0px 8px rgba(153, 153, 153, 0.2), 0px 0px 8px rgba(153, 153, 153, 0.2)
        /* glow */
        ,
        8px 14px 15px rgba(153, 153, 153, 0.5)
        /* drop shadow*/
    ;
    border-width: 0px;
    border-radius: 50%;
    padding-bottom: 1px;
    position: relative;
    margin-right: -10000px;
}

.Sombras-nivel-2-indicadores {
    box-shadow: 0px 0px 8px rgba(153, 153, 153, 0.2), 0px 0px 8px rgba(153, 153, 153, 0.2)
        /* glow */
        ,
        8px 14px 15px rgba(153, 153, 153, 0.5)
        /* drop shadow*/
    ;
    border-width: 1px;
    border-color: transparent;
    background-color: #4285F4;
}

#u26859-4 {
    z-index: 56;
    width: 29px;
    min-height: 23px;
    background-color: transparent;
    line-height: 1.5;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    position: relative;
    margin-right: -10000px;
    margin-top: -1px;
    left: 9px;
}

#u26861-4 {
    z-index: 60;
    width: 263px;
    min-height: 161px;
    background-color: transparent;
    text-align: left;
    line-height: 1.25;
    letter-spacing: -1px;
    position: relative;
    margin-right: -10000px;
    left: 1px;
}

#u26862 {
    z-index: 64;
    width: 30px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 173px;
    left: 635px;
}

#u26864 {
    z-index: 65;
    width: 30px;
    box-shadow: 0px 0px 8px rgba(153, 153, 153, 0.2), 0px 0px 8px rgba(153, 153, 153, 0.2)
        /* glow */
        ,
        8px 14px 15px rgba(153, 153, 153, 0.5)
        /* drop shadow*/
    ;
    border-width: 0px;
    border-radius: 50%;
    padding-bottom: 1px;
    position: relative;
    margin-right: -10000px;
}

#u26863-4 {
    z-index: 66;
    width: 29px;
    min-height: 23px;
    background-color: transparent;
    line-height: 1.5;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    position: relative;
    margin-right: -10000px;
    margin-top: -1px;
    left: 9px;
}

#u26866 {
    z-index: 70;
    width: 28px;
    height: 58px;
    border-style: solid;
    border-color: #4285F4;
    -webkit-transform: matrix(0, 1, -1, 0, 48, 15);
    -ms-transform: matrix(0, 1, -1, 0, 48, 15);
    transform: matrix(0, 1, -1, 0, 48, 15);
    position: relative;
    margin-right: -10000px;
    margin-top: 45px;
    left: 615px;
    border-width: 5px 0px 0px 5px;
}

.resaltado-grueso-redondo {
    border-color: #4285F4;
    background-color: transparent;
    border-radius: 100px 0px 0px 0px;
    border-width: 5px 0px 0px 5px;
}

#u26867 {
    z-index: 71;
    width: 53px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 43px;
    left: 347px;
}

#u26868 {
    z-index: 72;
    display: block;
}

#u26869 {
    z-index: 73;
    width: 266px;
    box-shadow: 0px 0px 8px rgba(153, 153, 153, 0.2), 0px 0px 8px rgba(153, 153, 153, 0.2)
        /* glow */
        ,
        8px 14px 15px rgba(153, 153, 153, 0.5)
        /* drop shadow*/
    ;
    border-width: 0px;
    position: relative;
    margin-right: -10000px;
    margin-top: 10px;
    left: 331px;
}

#u26871 {
    z-index: 75;
    width: 30px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 7px;
    left: 312px;
}

#u26873 {
    z-index: 76;
    width: 30px;
    box-shadow: 0px 0px 8px rgba(153, 153, 153, 0.2), 0px 0px 8px rgba(153, 153, 153, 0.2)
        /* glow */
        ,
        8px 14px 15px rgba(153, 153, 153, 0.5)
        /* drop shadow*/
    ;
    border-width: 0px;
    border-radius: 50%;
    padding-bottom: 1px;
    position: relative;
    margin-right: -10000px;
}

#u26872-4 {
    z-index: 77;
    width: 29px;
    min-height: 23px;
    background-color: transparent;
    line-height: 1.5;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    position: relative;
    margin-right: -10000px;
    margin-top: -1px;
    left: 9px;
}

#u26874-2 span,
#u26840-2 span,
#u26840-2 ol,
#u26840-2 li,
#u26840-4 span,
#u26840-4 ol,
#u26840-4 li,
#u26840-6 span,
#u26840-6 ol,
#u26840-6 li,
#u26843-2 span,
#u26843-2 ol,
#u26843-2 li,
#u26843-4 span,
#u26843-4 ol,
#u26843-4 li,
#u26843-6 span,
#u26843-6 ol,
#u26843-6 li,
#u26851-2 span,
#u26859-2 span,
#u26863-2 span,
#u26872-2 span {
    line-height: 1.5;
}

#u26859,
#u26863,
#u26872 {
    font-size: 20px;
    font-family: roboto, sans-serif;
    font-weight: 400;
}

#u26847 {
    z-index: 85;
    width: 153px;
    height: 29px;
    border-style: solid;
    border-width: 4px;
    border-color: #4285F4;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    margin-right: -10000px;
    margin-top: 1277px;
    left: 51px;
}

#u26855 {
    z-index: 86;
    width: 53px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 1289px;
    left: 124px;
}

#u26856 {
    z-index: 87;
    display: block;
}

#u29836-4 {
    z-index: 88;
    width: 263px;
    min-height: 161px;
    background-color: transparent;
    text-align: left;
    line-height: 1.25;
    letter-spacing: -1px;
    position: relative;
    margin-right: -10000px;
    margin-top: 915px;
}

#u26874-2,
#u26831-2,
#u26840-2,
#u26840-4,
#u26840-6,
#u26843-2,
#u26843-4,
#u26843-6,
#u26844-2,
#u26851-2,
#u26859-2,
#u26861-2,
#u26863-2,
#u26872-2,
#u29836-2 {
    line-height: 0px;
}

#u26861-2 span,
#u29836-2 span {
    line-height: 1.25;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 2250px);
}

#u4093 {
    z-index: 2;
    min-height: 36px;
    padding-bottom: 14px;
}

#u4093_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1000px;
}

#u4096 {
    z-index: 7;
    width: 84px;
    position: relative;
    margin-right: -10000px;
    margin-top: 11px;
    left: 20px;
}

#u4097 {
    z-index: 8;
}

#u4094-4 {
    z-index: 3;
    width: 309px;
    position: relative;
    margin-right: -10000px;
    margin-top: 10px;
    left: 124px;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#u4093-bw {
    z-index: 2;
    min-height: 36px;
    margin-bottom: -51px;
    margin-top: 126px;
}

#muse_css_mq,
.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 1000px;
    padding-bottom: 49px;
}

.verticalspacer {
    min-height: 62px;
}

#u28607 {
    width: 115px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    left: -125px;
}

#u28671 {
    width: 115px;
    padding-bottom: 16px;
    position: relative;
}

#u28671:hover {
    width: 115px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28671:active {
    width: 115px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28614-4 {
    width: 115px;
    min-height: 18px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    left: 0px;
}

#u28671:hover #u28614-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 115px;
    margin: 0px -10000px 0px 0px;
}

#u28671:active #u28614-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 115px;
    margin: 0px -10000px 0px 0px;
}

#u28671.MuseMenuActive #u28614-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 115px;
    margin: 0px -10000px 0px 0px;
}

#u28608 {
    width: 115px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    left: -240px;
}

#u28672 {
    width: 115px;
    padding-bottom: 16px;
    position: relative;
}

#u28672:hover {
    width: 115px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28672:active {
    width: 115px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28615-4 {
    width: 115px;
    min-height: 18px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    left: 0px;
}

#u28672:hover #u28615-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 115px;
    margin: 0px -10000px 0px 0px;
}

#u28672:active #u28615-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 115px;
    margin: 0px -10000px 0px 0px;
}

#u28672.MuseMenuActive #u28615-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 115px;
    margin: 0px -10000px 0px 0px;
}

#u28609 {
    width: 135px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    left: -370px;
}

#u28673 {
    width: 135px;
    padding-bottom: 16px;
    position: relative;
}

#u28673:hover {
    width: 135px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28673:active {
    width: 135px;
    min-height: 0px;
    margin: 0px 0px -2px;
}

#u28616-4 {
    width: 135px;
    min-height: 18px;
    position: relative;
    margin-right: -10000px;
    top: 8px;
    left: 0px;
}

#u28673:hover #u28616-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 135px;
    margin: 0px -10000px 0px 0px;
}

#u28673:active #u28616-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 135px;
    margin: 0px -10000px 0px 0px;
}

#u28673.MuseMenuActive #u28616-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 135px;
    margin: 0px -10000px 0px 0px;
}

/* Se agrego el estilo para el nuevo valor de la seccion 4 (Directorio de enlaces) */

#u29737 {
    z-index: 68;
    width: 1px;
    height: 60px;
    position: fixed;
    top: 85px;
    left: 45%;
    margin-left: 470px;
}

#u29740-4 {
    z-index: 111;
    width: 150px;
    min-height: 46px;
    padding-top: 15px;
    position: fixed;
    top: 70px;
    left: 50%;
    margin-left: 440px;
}

#u29740-4:hover {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 150px;
    margin: 0px 0px 0px 440px;
}

#u29740-4:active {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 150px;
    margin: 0px 0px 0px 440px;
}

#u29740-4.MuseLinkActive {
    padding-top: 15px;
    padding-bottom: 0px;
    min-height: 46px;
    width: 150px;
    margin: 0px 0px 0px 400px;
}

/* */